* {
	margin: 0px;
	padding: 0px;
}
#page, #page1, #page2, #page3 {
	background-image: url(../images/bg-math.gif);
	background-repeat: repeat;
}.headers {
	text-align: center;
	margin-bottom: 35px;
}
#header {
	background-image: url(../images/head-bg.png);
	background-repeat: repeat-x;
	height: 48px;
}
#header img {
	float: left;
	padding: 6px;
}
#header h1 {
	margin-right: auto;
	margin-left: auto;
	padding-right: 50px;
	font-size: 20px;
	color: #FF9;
}
#header #topBar {
	background-color: #069;
	float: right;
	width: 70px;
	margin-right: 33px;
}

.firstTitle {
	margin-top: 32px;
	margin-bottom: 1px;
}
#contentBtn .ui-btn {
	border-radius: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.button .ui-btn{
	margin-bottom: 22px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.learnContent, .learnContent2, .row1, .row2 {
	margin: 0 auto 0 auto;
}
.learnContent {
	width: 256px;
}
.learnContent2 {
	width: 280px;
}
.coll {
	float: left;
	padding-left: 7px;
	padding-right: 5px;
}
.clear {
	clear: both;
}
.learnNumbers, .learnNumbers2 {
	list-style-type: none;
	font-family: "Cataneo BT";
	font-size: 46px;
	font-weight: bold;
}
.learnNumbers {
	color: #600;
	line-height: 48px;
}
.learnNumbers2 {
	font-size: 44px;
	color: #006;
	line-height: 38px;
	margin-top: 2px;
}
.boxNum{
	float: left;
	height: 42px;
}
.boxNum p, .boxSum  p, .boxVar p{
	padding-top: 3px;
}
.boxSum, .boxVar {
    float: left;
	height: 42px;
    width: 52px;
	text-align: center;
	box-shadow: inset 1px 1px 7px 1px #6a4c34,inset -1px -1px 7px 1px #6a4c34;
}
.boxSum {
	background-color: #0C9;
}
.boxVar {
	background-color: #C60;
	margin-left: 17px;
	margin-right: 17px;
	cursor: pointer;
}
.check {
	float: left;
	margin-left: 14px;
	height: 36px;
	display: none;
}
.check p {
	font-size: 32px;
	color: #900;
	padding-top: 5px;
}
.row1 {
	width: 278px;
	margin-top: 18px;
	text-align: center;
}
.row2 {
	width: 262px;
	margin-top: 24px;
}
hr {
	background-color: #640000;
	height: 1px;
	margin-top: 40px;
	margin-bottom: 35px;
}
#footers {
	text-align: center;
	margin-bottom: 10px;
}
#footer {
	background-image: url(../images/head-bg.png);
	background-repeat: repeat-x;
}

.copy {
	font-size: 10px;
	text-align: center;
	line-height: 30px;
}
.sum_r1, .sum_r2, .sum_r3, .sum_r4, .sum_r5, .sum_r6 {
	display: none;  
}
